* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto:wght@100&display=swap');


:root {
  --background: #F2F2F2;
  --text: black;
  --title: #011C26;
  --accent: #BF1111;
  --button: #8C1F1F;
}

body {
  font-family:'Courier New', Courier, monospace;
  font-size: 1.6rem;
  background: var(--background);
  color: var(--background);
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 3.5px;
}

a {
  text-decoration: none;
  color: var(--title);
}

a:hover {
  color: var(--button);
}

ul {
  list-style: none;
}

h1 {
  color: var(--title);
}

header {
background: rgba( 242, 242, 242, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}


.menu ul, li {
  display: flex;
  padding-left: 40px;
  align-items: center;
}

#menu-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li-nav li {
  float: left;
}

.li-nav li a, .dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.content-img {
  background-image: url("../img/Endless-Constellation.svg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}

#sobre-text {
  width: 450px;
  height: auto;
}

#sobre-img {
  width: 350px;
  height: 250px;
  margin-left: 0;
}
#sobre-img img {
  width: 100%;
  height: 100%;
}

#social-media {
  display: flex;
  margin: 0 auto;
  width: 450px;
  height: 150px;
}

.social-icons img{
  margin: 10px auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


#projetos {
  width: 100%;
  flex-wrap: wrap;
  background-image: url("../img/Flat-Mountains.svg");
  background-size: fill;
  background-position: center center;
}

#projetos h1 {
  color: var(--background);
}

.projetos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 280px;
  background: rgba( 272 , 272, 272, 0.40 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0.0px );
  -webkit-backdrop-filter: blur( 0.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.projetos-thumb img{
  width: 100%;
  height: 150px;
}

#skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.skills h3{
  text-align: center;
  margin-bottom: 20px;
}
.skills ul, li {
  align-items: center;
}
.skills img{
  height: 96px;
  width: 96px;
}

#form-container {
  max-width: 900px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#form-image {
  background-image: url("../img/undraw_message_sent.svg");
  background-size: cover;
  background-position: center center;
  color: var(--title);
  width: 550px;
}

#form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
}

#form input, textarea {
  width: 300px;
  height: 30px;
  margin-bottom: 15px;
}

#form textarea {
  resize: none;
}

#form button {
  width: 300px;
  background: rgba( 191 , 17, 17, 0.40 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0.0px );
  -webkit-backdrop-filter: blur( 0.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: var(--background);
  border: none;
  height: 20px;
  border-radius: 3px;
}

.projetos-print img {
  width: 100%;
  max-width: 250px;
  height: 250px;
  max-height: 100%;
}

.projetos-print img {
  transition: all 300ms ease-in-out;
}

.projetos-print img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(2deg);
}

.project-description-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
}

.porject-description {
  color: var(--title);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background: rgba( 241, 13, 13, 0.10 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  background-image: url("../img/Endless-Constellation.svg");
  background-size: cover;
  background-position: center center;
}